---
layout: feature
title: "Manage Compliance with GitLab"
description: "How to use GitLab to build applications that meet common regulatory compliance standards"
suppress_header: true
canonical_path: "/solutions/compliance/"
extra_css:
  - gitlab-feature-landing-page.css
  - features.css
---
.wrapper.gitlab-ee-page
  .blank-header
    = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
    = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
    .header-content
      = image_tag "/images/devops-tools/gitlab-logo.svg", class: "hero-image-small", alt: "Gitlab logo svg"
      %h1 Manage Compliance with GitLab
      %p
        Building applications that meet common regulatory compliance standards
  .sub-wrapper
    .container
      .row.advantages
        .col-xs-1.col-md-1
        .col-xs-10.col-md-10
          %h2.margin-top0 Compliance management
          %p
            Compliance management can be hard and time consuming. It requires coordination within organizations to ensure
            different functional groups are aligned and that processes meet the regulatory requirements for relevant standards.
            The cost of non compliance can be high - appearing in the form of revenue loss, business disruptions, fines,
            or negative brand perceptions, among others.
            %p
              Organizations need a compliance program that is built-in, not bolted-on, to their existing workflows and processes.
              "Traditional compliance practices are incompatible with continuous software delivery processes, leading to slower delivery and unexpected, expensive remediation work."
              %a{href: "https://www.gartner.com/document/4003540"}
                (Gartner®, Hype Cycle™ for Agile and DevOps, 2021, Herschmann, Joachim and Spafford, George, 2021)
              As a complete DevOps platform, GitLab is a great choice for compliance teams to keep up with the changing regulations and emerging risks, while ensuring compliance is integrated into their organization, rather than being an afterthought.
            %p
              GitLab's approach to DevSecOps directly integrates required compliance jobs into developer pipelines, ensures proper seperation of duties, audit systems, and
              %a{href:"https://docs.gitlab.com/ee/administration/compliance.html"}
                more
              This makes it possible to "Implement a shift-left approach to ensure compliance controls are understood earlier in the development process," (
              %a{href: "https://www.gartner.com/document/4003540"}
                Gartner®, Hype Cycle™ for Agile and DevOps, 2021, Herschmann, Joachim and Spafford, George, 2021
              )
      %hr.divider

      .row.advantages
        .col-xs-1.col-md-1
        .col-xs-10.col-md-10
          %h2.margin-top0 Compliance Management with Gitlab
          %p
            GitLab compliance management aims to change the current paradigm for compliance to create an experience that's simple, friendly, and as frictionless as possible by enabling you to define, enforce and report on compliance policies and frameworks.
            %ul
              %li
                %strong Policy Management
                helps you define rules and policies to adhere to compliance frameworks
              %li
                %strong Compliant Workflow Automation
                helps you enforce the defined rules and policies
              %li
                %strong Audit Management
                helps you log activities to identify incidents and prove adherence to compliance rules and policies defined
              %li
                %strong Security Management
                helps you ensure
                %a{ href: "/solutions/dev-sec-ops/"}
                  security scanning and license compliance
                for every piece of code and a dashboard to track and manage vulnerabilities

      %hr.divider

      .row
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 Policy Management
          %p
          Policy Management helps you define rules and policies to adhere to - either internal company policies or policies based on legal or regulatory frameworks such as GDPR, SOC2, PCI-DSS, SOX, HIPAA, ISO, COBIT, FedRAMP, and so on.
          %ul
            %li
              %strong Granular User Roles and Permissions
              GitLab supports multiple different user roles with permissions according to the user's role, rather than access required to a repository.
            %li
              %strong Compliance Settings
              Define and enforce compliance policies on specific projects, groups, and users.
            %li
              %strong Credentials Inventory
              Keep track of all the credentials that can be used to access the GitLab self-managed instance.
            %li
              %strong Protected Branches
              Control unauthorized modifications to specific branches - including creating, pushing, deleting of a branch - without adequate permissions or approvers.
        .hidden-xs.hidden-sm.col-md-4
          = image_tag "/images/solutions/compliance/compliance-policy-mgmt.png", alt: "GitLab Policy Management", style: "margin-top: 150px;"
      %hr.divider

      .row
        .hidden-xs.hidden-sm.col-md-4.col-md-offset-1
          = image_tag "/images/solutions/compliance/compliance-frameworks.png", class: "hidden-xs", alt: "Gitlab Automate Compliance Workflows", style: "margin-top: 50px;"
        .col-xs-12.col-md-6
          %h2 Compliant Workflow Automation
          %p
            "Organizations are facing an increasing number of regulatory obligations and more stringent enforcement, so automating compliance will become even more valuable to I&O [Infrastructure and Operations] leaders"
            %a{href:"https://www.gartner.com/document/4003540"}
              (Gartner®, Hype Cycle™ for Agile and DevOps, 2021, Herschmann, Joachim and Spafford, George, 2021).
            GitLab enables powerful compliance automation through enforcing policies and separation of duties while reducing overall business risk.
          %ul
            %li
              %strong Compliance Framework Project Labels
              Clearly delineate which projects need certain compliance controls and which do not. Easily apply common compliance settings to a project with a label.
            %li
              %strong Compliance Framework Pipelines
              Define compliance jobs that should be run in every pipeline to ensure that security scans are run, artifacts are created and stored, or any other steps required by your organizational requirements. These jobs are automatically merged with the project's jobs, enabling developers to stay focused on adding business value while still remaining compliant.
            %li
              %strong Compliance Framework Project Templates
              Create projects that map to specific audit protocols such as HIPAA - to help maintain an audit trail & manage compliance programs. Templates are managed by admins to ensure consistent and compliant use.
            
      %hr.divider

      .row
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 Audit Management
          %p
          Audits require traceability of compliance events to show what happened, when it happened, and who did it. GitLab's robust audit event system records this for the most important actions and provides mulitple ways to consume the results.
          %ul
            %li
              %strong Audit Events
              Aims to satisfy organizational audit logging requirements within the UI or via API.
            %li
              %strong Compliance Dashboard
              Provide compliance insights in a consolidated view with all relevant compliance signals such as segregation of duties, framework compliance, license compliance, pipeline and MR results. Currently, the dashboard focuses on most recently merged MR activity.

        .hidden-xs.hidden-sm.col-md-4
          = image_tag "/images/solutions/compliance/compliance-audit-mgmt.png", alt: "GitLab Audit Management", style: "margin-top: 50px;"
      %hr.divider

      .row
        .hidden-xs.hidden-sm.col-md-4.col-md-offset-1
          = image_tag "/images/icons/security.png", class: "hidden-xs", alt: "GitLab for compliance frameworks", style: "margin-top: 50px;"
        .col-xs-12.col-md-6
          %h2 GitLab for Compliance Frameworks
          %p
          %ul
            %li
              %a{ href: "/solutions/pci-compliance/"}
                PCI Compliance
            %li
              %a{ href: "/solutions/hipaa-compliance/"}
                HIPAA Compliance
            %li
              %a{ href: "/solutions/financial-services-regulatory-compliance/"}
                Financial Services Regulatory Compliance
            %li
              %a{ href: "/gdpr"}
                GDPR
            %li
              %a{ href: "/solutions/iec-62304/"}
                IEC 62304:2006
            %li
              %a{ href: "/solutions/iso-13485/"}
                ISO 13485:2016
            %li
              %a{ href: "/solutions/iso-26262/"}
                ISO 26262-6:2018
      %hr.divider

      .row.advantages
        .col-xs-1.col-md-1
        .col-xs-10.col-md-10
          %h2.margin-top0 GitLab eased SOC 2 Audit for Chorus.ai
          %p
            During a recent audit for SOC2 compliance, the auditors said that Chorus had the fastest auditing process they have seen and most of that is due to the capabilities of GitLab
            %p
              %strong Russell Levy
              %br
                Co-Founder, and Chief Technology Officer, Chorus.ai
                %br
                  %a{ href: "https://about.gitlab.com/customers/chorus/"}
                    Read full story
      %hr.divider



      .row.links
        .col-xs-1.col-md-1
        .col-xs-11.col-md-6
          %h2 Help and More Information
          %ul
            %li
              Please see
              = link_to "/get-help/" do
                Get help for GitLab
              if you have questions
            %li
              %a{ href: "https://docs.gitlab.com/ee/administration/compliance.html" }
                Compliance Features
            %li
              %a{ href: "https://docs.gitlab.com/ee/user/compliance/compliance_dashboard" }
                Compliance Dashboard
            %li
              Roadmaps
              %a{ href: "https://about.gitlab.com/direction/manage/audit-events/" }
                Audit Events
              |
              %a{ href: "https://about.gitlab.com/direction/manage/audit-reports/" }
                Audit Reports
              |
              %a{ href: "https://about.gitlab.com/direction/manage/compliance-management/" }
                Compliance Management
              |
              %a{ href: "https://about.gitlab.com/direction/manage/auth/" }
                Authentication & Authorization
              |
              %a{ href: "https://about.gitlab.com/direction/manage/users/" }
                User Management
            %li
              See how
              %a{ href: "https://about.gitlab.com/customers/chorus/" }
                GitLab eased SOC2 audit for Chorus.ai
              against other Security tools
            %li
              See how we
              %a{ href: "https://about.gitlab.com/devops-tools/" }
                compare
              against other DevOps tools
        .hidden-xs.hidden-sm.col-md-4
          = image_tag "/images/icons/help.png", class: "gitlab-arch hidden-xs", alt: "GitLab Help", style: "margin-top: 100px;"

      %hr.divider
      .row.links
        .col-xs-1.col-md-1
        .col-xs-11.col-md-6
          <i>GARTNER and HYPE CYCLE are registered trademark and service mark of Gartner, Inc. and/or its affiliates in the U.S. and internationally and are used herein with permission. All rights reserved..</i>
